{% extends "base.html" %}
{% block content %}
<main>
<div id="particles-js" class="pointer-events-none z-0"></div>
<section class="c-content">
    <div class="mr-16 mb-16 block md:flex md:justify-center lg:align-center z-10">
        <div class="p-4 o-card-grad sm:w-10/12 md:w-8/12 md:flex-1 lg:max-w-min z-10">
            <div>
                <img src="/static/svg/muse.svg" class="max-w-md lg:max-w-lg">
            </div>
            <div class="md:max-w-lg">
                <h1 class="c-main__name--sm">caleb.george</h1>
                <h1 class="c-main__name--xs">caleb.</h1>
                <h1 class="c-main__name--xs">george</h1>
                <h3>creativity &amp; engineering</h3>
            </div>
        </div>
        <div class="flex justify-between items-center w-full lg:max-w-xl z-10">
            <div class="container p-4">
                <div onclick="location.href='https://github.com/thesocialcontract'" class="c-content-bubble clickable">
                    <span class="material-icons">computer</span> code<span class="material-icons">navigate_next</span>
                </div>
                <div onclick="location.href='/blog'" class="c-content-bubble clickable">
                    <span class="material-icons">text_snippet</span> devblog<span class="material-icons">navigate_next</span>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
<script src="/static/js/vendor/particles.js"></script>
{% endblock %}