<footer class="h-12 flex md:justify-center w-full bg-material ">
    <div class="flex justify-between items-center w-full md:w-8/12 p-2">
        <div class="ml-4">Caleb George — © {% now "Y" %}</div>
        <div class="flex">
            <a href="https://github.com/thesocialcontract" class="mx-2">
                <img src="/static/svg/fontawesome/github.svg" class="h-6 w-6 filter-svg-color">
            </a>
            <a href="https://www.linkedin.com/in/caleb-george-5540237b/" class="mx-2">
                <img src="/static/svg/fontawesome/linkedin-in.svg" class="h-6 w-6 filter-svg-color">
            </a>
        </div>
    </div>
</footer>