<nav class="c-navbar flex justify-center">
    <div class="flex w-1/2 items-center justify-between">
        <div class="flex items-center content-center">
            <div class="c-navbar__item ">
                <a href="/"><img class="c-home-icon" src="/static/img/home.svg"></img></a>
            </div>
            <div class="c-navbar__item">
                <a href="/projects">( projects )</a>
            </div>
            <div class="c-navbar__item">
                <a href="/articles">( dev.notes )</a>
            </div>
        </div>
        <div class="flex">
            <div class="flex items-center justify-center">
                <a href="/about">( about )</a>
            </div>
        </div>
    </div>
</nav>