<nav class="c-navbar">
    <div class="l-fullwidth flex l-align-center l-justify-between">
        <div class="l-flex l-align-center">
            <div class="c-navbar__item">
                <a href="/"><img class="c-home-icon" src="/static/img/home.svg"></img></a>
            </div>
            <div class="c-navbar__item">
                <a href="/projects">( projects )</a>
            </div>
            <div class="c-navbar__item">
                <a href="/articles">( dev.notes )</a>
            </div>
        </div>
        <div class="l-flex">
            <div class="c-navbar__item">
                <a href="/about">( about )</a>
            </div>
        </div>
    </div>
</nav>