<div class="c-navbar">
    <div class="c-container__central u-fullwidth u-flex u-align-center u-justify-between">
        <div class="u-flex u-align-center">
            <div class="c-navbar__item">
                <a href="/"><img class="c-home-icon" src="/static/img/home.svg"></img></a>
            </div>
            <div class="c-navbar__item">
                <a href="/projects">( projects )</a>
            </div>
            <div class="c-navbar__item">
                <a href="/articles">( dev.notes )</a>
            </div>
        </div>
        <div class="u-flex">
            <div class="c-navbar__item">
                <a href="/about">( about )</a>
            </div>
        </div>
    </div>
</div>