{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block header %}
<section class="flex md:justify-center w-full bg-material">
    <div class="flex justify-between items-center p-2 px-4 w-full max-w-prose">
        <div class="flex items-center">
            <a class="min-w-1/12 flex-none" href="/">
                <img src="/static/svg/muse.svg" class="h-12">
            </a>
            <a class="shrink-0" href="/"><h2 class="text-2xl">cg.dev</h2></a>
        </div>
        <div class="flex">
            <a class="shrink-1" href="/blog"><h2 class="text-2xl">blog</h2></a>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
<section class="flex flex-col flex-auto">
    {% comment %} 
    ============================ 
            Post list 
    ============================
    {% endcomment %}
    {% if not posts %}
        <div class="flex flex-none justify-center">
            <div class="mx-4 my-8 p-6 w-full max-w-lg lg:max-w-2xl bg-card-grad soft-corner">
                <h3 class="flex justify-center">No posts found</h3>
            </div>
        </div>
    {% endif %}
    {% for post in posts %}
        {% with post=post.specific %}
            <div class="flex flex-none justify-center">
                <article class="m-4 px-12 py-10 w-full max-w-prose bg-card-grad soft-corner">
                    <header>
                        <h2><a href="{{post.slug}}">{{ post.title }}</a></h2>
                        <div class="font-secondary">Posted on {{ post.first_published_at|date }}</div>
                    </header>
                    <section>
                        {{ post.body|first }}
                    </section>
                    {% if post.body|length > 1 %}
                    <div class="pt-4">
                        <a class="button border-2 border-control bg-transparent px-4 py-2 text-md rounded" href="{{post.slug}}">
                            Read More ➔
                        </a>
                    </div>
                    {% endif %}
                </article>
            </div>
        {% endwith %}
    {% endfor %}
   
    
    {% comment %} 
    ============================ 
            Paginator
    ============================
    {% endcomment %}
    {% if posts.paginator.num_pages > 1 %}
    <div class="flex justify-center my-8">
        <ul class="flex">
        {% for i in posts.adjusted_elided_page %}
            <li class="list-none mx-1">
                {% if i == posts.paginator.ELLIPSIS %}
                    <span>...</span>
                {% elif i == posts.page %}
                    <span class="p-2 m-1 rounded">{{i}}</span>
                {% else %}
                    <a href="?page={{ i }}" class="border-2 bg-transparent p-2 m-1 rounded">
                        {{ i }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</section>
{% endblock %}