{% extends "base.html" %}
{% block header %}
<section class="flex md:justify-center w-full bg-material">
    <div class="flex justify-start items-center w-full md:w-8/12 p-2">
        <a class="min-w-1/12 flex-none" href="/">
            <img src="/static/svg/muse.svg" class="h-12">        
        </a>
        <a class="shrink-0" href="/"><h2 class="text-2xl">cg.dev</h2></a>
    </div>
</section>
{% endblock %}
{% block content %}
<section class="flex md:justify-center">
    <article class="m-4 p-12 bg-card-grad container max-w-lg soft-corner">
        <section>
            <h2>{{ page.title }}</h2>
            <div class="font-secondary">
                <div>{{ page.date }}</div>
            </div>
        </section>
        <section class="my-4">
            {{ page.body }}
        </section>
    </article>
</section>
{% endblock %}