{% extends "base.html" %}
{% block header %}
<section class="flex justify-center w-full bg-material">
    <div class="flex justify-between items-center p-2 px-4 lg:p-2 w-full max-w-prose">
        <div class="flex items-center">
            <a class="min-w-1/12 flex-none" href="/">
                <img src="/static/svg/muse.svg" class="h-12">
            </a>
            <a class="shrink-0" href="/"><h2 class="text-2xl">cg.dev</h2></a>
        </div>
        <div class="flex">
            <a class="shrink-1" href="/blog"><h2 class="text-2xl">blog</h2></a>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
<section class="flex flex-col flex-auto">
    <div class="flex flex-none justify-center">
        <article class="m-4 px-12 py-10 bg-card-grad soft-corner container w-full max-w-prose">
            <section>
                <h2>{{ page.title }}</h2>
                <div class="font-secondary">
                        <div>Posted on {{ page.first_published_at|date }}</div>
                </div>
            </section>
            <section class="my-4">
                {{ page.body }}
            </section>
        </article>
    </div>
    <div class="flex-auto"></div>
</section>
{% endblock %}