/*------------------------------------------------------------------


[Namespaces]

l-          Layout
o-			Object
c-			Component
u-			Utility
is-, has-	State or Condition
js-			JavaScript Hook
_			Hack


[Table of contents]

1.  Elements
2.  Animations
3.  Layouts -- Structural namespace.  Things like flex
4.  Objects -- 'Atomic' objects.  Context-independent.  Cannot be structural.
5.  Components -- Larger building blocks.  Context-aware.  (analogy: A mesh, not polygon)
6.  Utilities
7.  Hacks
-------------------------------------------------------------------*/

$color-selection: #AAA;
$color-shadow: #101010a1;

$color-font: #c2d9ff;
$color-font-secondary: hsl(231, 71%, 70%);
$color-font-highlight: #fcac36;

$color-surface: hsl(240, 74%, 5%);
$color-material: hsl(229, 87%, 18%);
$color-highlight: hsl(230, 73%, 51%);
$color-highlight-low: hsl(231, 80%, 8%); //hsl(231, 43%, 12%);

$color-accent: #DC3558;
$color-accent-1: #e79cb5;
// $color-surface: #0B1D44;
// $color-material: #0b1d44;
// $color-highlight: #1698F0;
// $color-highlight-low: 0b1d44;
$footer-height: 3rem;

@mixin box-shadow-close {
    box-shadow: 0 0 1em $color-shadow, .5em .5em 1em $color-shadow
}
@mixin box-shadow-med {
    box-shadow: 0 0 1em $color-shadow, .5em .5em 1.5em $color-shadow
}
@mixin box-shadow-far {
    box-shadow: 0 0 1em $color-shadow, .5em .5em 2em $color-shadow
}

html {
    display: block;
    background-color: $color-surface;
    color: $color-font;
}

/* Objects */
*, *:before, *:after { box-sizing: inherit; }

body { 
    margin: 0;
    background: $color-surface;
    font-weight: 300;
    font-family: IBM Plex Sans, Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 { font-weight: 300; }
    h1 { font-size: 3em; font-family: "Roboto Mono", Verdana; }
	h2 { font-size: 2.25em; font-family: "Roboto Mono", Verdana; font-weight: 500; }
	h3 { font-size: 1.5em; }
    h4 { font-size: 1.25em; font-weight: 600; }

img, video { display: block; width: 100%; height: auto; border: 0; }

p { margin: 1em 0; }

ul { list-style: circle; }

a { color: $color-accent; text-decoration: none; }

	a:hover, a:focus { color: $color-accent-1 }

button { cursor: pointer; }

iframe { border: 0; }

::selection { background: $color-selection; color: #fff; }   
.material-icons {
    vertical-align: middle;
  }
/* Components */
.c-navbar {
    font-size: 1.15em;
    box-shadow: 0em 0.5em 1em $color-shadow;
    background: $color-material;
}
    .c-navbar__item {
        position: relative;
        flex-basis: auto;
        padding: .5em;
        margin: .5em;
    }

.c-section {
    background: $color-surface;
}
    .c-section_alt {
        background: $color-material;
    }

.c-footer {
    height: $footer-height;
    background: $color-material;
}

.c-home-icon {
    height: auto;
    max-height: 2em;
    max-width: 2em;
    border-radius: 1em;
}
.c-content {
    padding-bottom: $footer-height;
}
.c-content-bubble {
    padding: 1em;
    margin: 1em 0.5em;
    border-radius: 2em;
    border-width: 1px;
    border-color: #4a7efb;  // use color highlight?
    background: $color-surface;
}

.c-hover-highlight:hover {
    background: scale-color($color-material, $lightness: 5%);
}

.border-bubble {
    border-radius: 2em;
    border-width: 1px;
    border-color: #354468;
}


.u-hidden {
    visibility: hidden;
}

.u-transluscent {
    opacity: 80%;
}

.h-half-screen {
    height: 50vh;
}

.clickable {
    cursor: pointer;
}

.soft-corner {
    border-radius: 1em;
}

.bg-material {
    background: $color-material;
}

.bg-surface {
    background: $color-surface;
}

.bg-grad-highlight {
    background: linear-gradient(45deg, $color-material, $color-highlight);
}
.bg-grad-logo {
    background: linear-gradient(20deg, $color-material, $color-accent); 
}
.bg-card-grad {
    background: linear-gradient(90deg, $color-material, $color-highlight-low);
}

.font-secondary {
    color: $color-font-secondary;
}

// Main card hack
@media only screen and (max-width: 440px) {
    .c-main__name--sm {
        display: none;
    }
    .c-main__name--xs {
        display: block;
    }
}

@media only screen and (min-width: 441px) {
    .c-main__name--sm {
        display: block;
    }
    .c-main__name--xs {
        display: none;
    }
}