/*------------------------------------------------------------------


[Namespaces]

l-          Layout
o-			Object
c-			Component
u-			Utility
is-, has-	State or Condition
js-			JavaScript Hook
_			Hack


[Table of contents]

1.  Elements
2.  Animations
3.  Layouts -- Structural namespace.  Things like flex
4.  Objects -- 'Atomic' objects.  Context-independent.  Cannot be structural.
5.  Components -- Larger building blocks.  Context-aware.  (analogy: A mesh, not polygon)
6.  Utilities
7.  Hacks
-------------------------------------------------------------------*/
$color-dom: #050526;        // #29428C less saturated
$color-dom-1: #081340;      // #091126
$color-dom-2: #0e2154;      // #111E40
$color-dom-3: #223a8c;      // #223773
$color-accent: #EE639A;     // #eb6390
$color-accent-1: #e79cb5;
$color-selection: #AAA;
$color-shadow: #101010a1;

$color-font-light: #c2d9ff;
$color-darkfont-for-darkbg: #7079e0;
$color-font: $color-font-light;

$color-card-bg: $color-dom-2;
$color-card-bg-translucent: #0b112d;

$color-bg-dark: $color-dom;
$color-bg-med: $color-dom-1;
$color-bg-light: $color-dom-2;

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}


@mixin box-shadow-close {
    box-shadow: 0 0 1em $color-shadow, .5em .5em 1em $color-shadow
}
@mixin box-shadow-med {
    box-shadow: 0 0 1em $color-shadow, .5em .5em 1.5em $color-shadow
}
@mixin box-shadow-far {
    box-shadow: 0 0 1em $color-shadow, .5em .5em 2em $color-shadow
}

html {
    display: block;
    background-color: $color-bg-dark;
    color: $color-font;
}

/* Objects */
*, *:before, *:after { box-sizing: inherit; }

body { 
    margin: 0;
    background: $color-bg-dark;
    font-weight: 300;
    font-family: sans-serif;
    font-size: 16px;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 { font-weight: 300; }
    h1 { font-size: 3em; }
	h2 { font-size: 2em; }
	h3 { font-size: 1.5em; }
    h4 { font-size: 1.25em; font-weight: 600; }

img, video { display: block; width: 100%; height: auto; border: 0; }

p { margin: 1em 0; }

ul { list-style: circle; }

a { color: $color-accent; text-decoration: none; }

	a:hover, a:focus { color: $color-accent-1 }

button { cursor: pointer; }

iframe { border: 0; }

::selection { background: $color-selection; color: #fff; }   

/* Components */
.c-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.15em;
    box-shadow: 0em 0.5em 1em $color-shadow;
    background: $color-bg-light;
}
    .c-navbar__item {
        position: relative;
        flex-basis: auto;
        padding: .5em;
        margin: .5em ;
    }


.c-container {
    padding: 1em;
}

    .c-container__central {
        @include for-phone-only {
            
        }
        @include for-tablet-portrait-up {
            padding-top:    4rem;
            padding-bottom: 4rem;
            padding-left:   4rem;
            padding-right:  4rem;
        }
        @include for-tablet-landscape-up {
            padding-top:    12rem;
            padding-bottom: 12rem;
            padding-left:   8rem;
            padding-right:  8rem;
        }
        @include for-desktop-up {
            padding-top:    16rem;
            padding-bottom: 20rem;
            padding-left:   12rem;
            padding-right:  12rem;
        }
    }

.c-section {
    background: $color-bg-dark;
}
    .c-section-med {
        background: $color-bg-med;
    }

.c-footer {
    height: 100%;
    background: $color-bg-med;
}
    .c-footer__copyright {
        font-size: 12px;
        color: $color-font-light
    }

.c-home-icon {
    height: auto;
    max-height: 2em;
    max-width: 2em;
    border-radius: 1em;
}

.c-card {
    background: $color-card-bg;
    @include box-shadow-far();
}

.c-card__dark {
    background: $color-card-bg-translucent;
    @include box-shadow-close();
}

.c-main-bg {
    background-image: url('/static/svg/bg-blue.svg');
    background-position: bottom;
    background-size: cover;
}

.c-main {
    /*flex: 1 1 auto;*/
}

.l-flex, .flex {
    display: flex;
}

.flex-lg {
    @include for-tablet-landscape-up {
        display: flex;
    }
}

.l-flex-col, .flex-col {
    flex-direction: column;
}

.l-justify-between {
    justify-content: space-between;
}

.l-align-center {
    align-items: center;
}

.l-fullwidth {
    width: 100%
}

.l-absolute {
    position: absolute
}

.l-relative {
    position: relative;
}

.u-hidden {
    visibility: hidden;
}

.u-transluscent {
    opacity: 80%;
}